@model IEnumerable<Hammurabi.Models.Meal>

@{
    ViewData["Title"] = "IndexUser";
}
<style>
    body {
        @*Add background for this site - image - not necessary, i replace it by place this background in _layout shared cshtml file*@ @*background: url('@Url.Content("~/images/meal.jpg")');
        *@;
    }

    .table {
        @*Add background color(gray) and opacity 50% for table*@ background-color:rgba(194,194,194,0.5);
    }
</style>

<h2>Index</h2>

<p>

        <li><a asp-action="Create">Create new meal</a></li>
        <li><a asp-area="" asp-controller="Ingredients" asp-action="Index">Edit Ingredients</a></li>

</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="EditMenu">Back to List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MealIngredients)*@
                @Html.DisplayName("Ingredients List:")
            </th>
            <th>
                <a asp-action="EditMenu" asp-route-sortOrder="@ViewBag.TimeSortParm">@Html.DisplayNameFor(model => model.PreparationTime) (min)</a>
                @*@Html.DisplayNameFor(model => model.PreparationTime)*@
            </th>
            <th>
                <a asp-action="EditMenu" asp-route-sortOrder="@ViewBag.PriceSortParm">@Html.DisplayNameFor(model => model.Price) ($)</a>
                @*@Html.DisplayNameFor(model => model.Price)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <table class="table2">
                        @*Code for display each item of Ingredient list for each Meal. Ingredients are order by IngredientID.*@
                        @foreach (var item2 in item.MealIngredients.OrderBy(a => a.IngredientID))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.Ingredient.Name)
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreparationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
